#include "defines.h"
Icon ICON "myicon.ico"

Menu MENU
{
 POPUP "&File"
 {
  MENUITEM "&Verify(AC)\tCtrl+s", ID_FILE_VERIFY
  MENUITEM SEPARATOR
  MENUITEM "&Hex view", ID_FILE_HEX_VIEW, CHECKED GRAYED
  MENUITEM "&Exit\tCtrl+x", ID_FILE_EXIT
 }
 POPUP "&Edit"
 {
  POPUP "Resize window"
  {
   MENUITEM "430X430", ID_EDIT_RESIZE_WINDOW_430X430
   MENUITEM "460X460", ID_EDIT_RESIZE_WINDOW_460X460
   MENUITEM "512X512", ID_EDIT_RESIZE_WINDOW_512X512
   MENUITEM "620x620", ID_EDIT_RESIZE_WINDOW_620X620
   MENUITEM "768X768", ID_EDIT_RESIZE_WINDOW_768X768
  }
}
}
