#include "defines.h"
Icon ICON "myicon.ico"

Menu MENU
{
 POPUP "&File"
 {
  MENUITEM "&Open...\tCtrl-O", ID_FILE_OPEN
  MENUITEM "&Save", ID_FILE_SAVE
  MENUITEM "Save &As...", ID_FILE_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Hex view", ID_FILE_HEX_VIEW, CHECKED GRAYED
  MENUITEM "&Exit\tAlt-F4", ID_FILE_EXIT
 }
 POPUP "&Edit"
 {
  POPUP "Resize button1"
  {
      MENUITEM "&Default", ID_EDIT_RESIZE_BUTTON1_DEFAULT
      MENUITEM "Bigger", ID_EDIT_RESIZE_BUTTON1_BIGGER
      MENUITEM "Smaller", ID_EDIT_RESIZE_BUTTON1_SMALLER
  }
  POPUP "Resize button2"
  {
      MENUITEM "&Default", ID_EDIT_RESIZE_BUTTON2_DEFAULT
      MENUITEM "Bigger", ID_EDIT_RESIZE_BUTTON2_BIGGER
      MENUITEM "Smaller", ID_EDIT_RESIZE_BUTTON2_SMALLER
  }
  POPUP "Resize window"
  {
   MENUITEM "450x300", ID_EDIT_RESIZE_WINDOW_450X300
   MENUITEM "550x420", ID_EDIT_RESIZE_WINDOW_550X420
   MENUITEM "700x512", ID_EDIT_RESIZE_WINDOW_700X512
   MENUITEM "800x600", ID_EDIT_RESIZE_WINDOW_800X600
   MENUITEM "1012X700", ID_EDIT_RESIZE_WINDOW_1012X720
  }
  MENUITEM SEPARATOR
  MENUITEM "Search", ID_EDIT_SEARCH
 }
 POPUP "&Help"
 {
  MENUITEM "&About...\tF1", ID_HELP_ABOUT
 }
}
