#include "defines.h"
Icon ICON "myicon.ico"

Menu MENU
{
 POPUP "&File"
 {
  MENUITEM "&Open database\tShift-o", ID_FILE_OPEN_DATABASE
  MENUITEM "&Save", ID_FILE_SAVE
  MENUITEM "Save &As...", ID_FILE_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Hex view", ID_FILE_HEX_VIEW, CHECKED GRAYED
  MENUITEM "&Exit\tShift-x", ID_FILE_EXIT
 }
 POPUP "&Edit"
 {
  POPUP "Resize button1"
  {
      MENUITEM "&Default", ID_EDIT_RESIZE_BUTTON1_DEFAULT
      MENUITEM "Bigger", ID_EDIT_RESIZE_BUTTON1_BIGGER
      MENUITEM "Smaller", ID_EDIT_RESIZE_BUTTON1_SMALLER
  }
  POPUP "Resize button2"
  {
      MENUITEM "&Default", ID_EDIT_RESIZE_BUTTON2_DEFAULT
      MENUITEM "Bigger", ID_EDIT_RESIZE_BUTTON2_BIGGER
      MENUITEM "Smaller", ID_EDIT_RESIZE_BUTTON2_SMALLER
  }
  POPUP "Resize window"
  {
   MENUITEM "780X430", ID_EDIT_RESIZE_WINDOW_780X430
   MENUITEM "820X460", ID_EDIT_RESIZE_WINDOW_820X460
   MENUITEM "900X512", ID_EDIT_RESIZE_WINDOW_900X512
   MENUITEM "950x620", ID_EDIT_RESIZE_WINDOW_950X620
   MENUITEM "1366X768", ID_EDIT_RESIZE_WINDOW_1366X768
  }
  MENUITEM SEPARATOR
  MENUITEM "Search", ID_EDIT_SEARCH
 }
 POPUP "&Help"
 {
  MENUITEM "&About...\tF1", ID_HELP_ABOUT
 }
}
